@model IEnumerable<PublisherModel>
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Publishers";
    string count = Model.Count() == 0 ? "No publishers found." :
        (Model.Count() == 1 ? "1 publisher found." :
        Model.Count() + " publishers found.");
}

<div class="container">

    <h1>@ViewData["Title"]</h1>

    @if (TempData["Message"] is not null)
    {
        <p class="bg-warning text-black">@TempData["Message"]</p>
    }

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <p class="bg-info text-dark">@count</p>

    @if (Model.Any()) @* if (Model.Count() > 0) *@
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GameCountOutput)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GameCountOutput)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>&nbsp;|&nbsp;
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>&nbsp;|&nbsp;
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>